* {
	margin: 0 ;
	padding: 0 ;
        &:focus {
            border-bottom: 1px solid rgb(71, 70, 70) ;
            outline: none!important;
        }
    }
 %sharedinp{
        height: 30px;
		border-radius: 8px;
		background: #fff;
		border: 1px solid #707070;
}
body {
	background: #fca311 ;
 }
header {
	display: flex;
	flex-direction: row;
	background-color: #fff;
	flex-wrap: wrap;
	padding: 20px ;
	padding-right: 0 ;
	margin-right: 0 ;
	box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.16) ;
	padding-bottom: 0 ;
	// width: 100%;
	font-family: "Javanese Text";
	.logo{
		// width: 30vw;
		// height: auto;
		margin-top: 0.5% ;
		width: 240px ;
		height: 60px ;
	}
	.menub{
		display: none;
	}
	.navcont{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		position: relative ;
		margin-left: 10% ;
		margin-top: 3% ;
		width: 60% ;
		.nav{
			display: flex;
			flex-direction: row;
			// flex-wrap: nowrap;
			align-items: center;
			// margin-right: 50px ;
			a{
				color: #000 ;
				text-decoration: none ;
				padding-right: 10% ;
				font-size: 2vw ;
				margin: 10px;
			}

			button{
				    border-radius: 12px ;
					background: #fff ;
					padding: 2% ;
					border: 1px solid #fca311 ;
					box-shadow: 0px 3px 40px rgba(114, 114, 114, 0.16) ;
					font-weight: bold ;
					margin-left: 2px;
					width: 20vw;
					// font-size: 20px ;
					&.in {
						color: #fca311; 
						background-color: white; }
					&.up {
						background-color: #fca311 ;
						color: white; 
					}
			}
		}
	
	}
	
	
}
form {
	width: 70% ;
	margin-top: 10% ;
	margin-right: 5%; 

	div {
		input {
			border: 1px solid white ;
			border-bottom: 1px solid rgb(71, 70, 70) ;
			width: 100% ;
			height: 30px ;
			margin-bottom: 20px ;

        }
			&:focus {
				border-bottom: 1px solid rgb(71, 70, 70) ;
				outline: none!important;
            }
		&.inp {
			input {
				&::placeholder {
					color: #fca311 ;
					font-weight: bold; 
                }
            }
        }
		&.btn {
			button {
				border-radius: 50% ;
				background-color: #fca311 ;
				color: white ;
				border: none ;
				font-size: 50px; 
				float: right ;
				width: 60px ;
            }
        }
    }
}
footer {
	background: #14213d; 
	border: 1px solid #707070; 
	display: flex ;
	flex-direction: row ;
	padding-top: 10px ;
	position: relative ;
	color: #fca311 ;
	form {
		&.contact {
			position: relative ;
			display: flex ;
			flex-direction: column ;
			align-content: space-around; 
			width: 50% ;
			height: 100% ;
			margin-top: 0 ;
			padding: 5px 100px ;
			margin-left: 200px ;
			margin-bottom: 20px ;
			label {
				font-family: Rockwell ;
				font-weight: bold ;
				font-size: 15px ;
				text-align: left ;
				color: #e6e6e6; 
            }
			.sub {
				text-align: center ;
				background-color: #fca311; 
				color: white; 
            }
        }
        input{@extend %sharedinp;}
        button{@extend %sharedinp;}
    }
	.follow {
		padding: 2px ;
		margin: 3px ;
		width: 50% ;
		height: 100%; 
		p {
			font-family: Rockwell ;
			font-weight: bold ;
			text-align: left ;
			color: #9c9c9c ;
			font-size: 20px ;
        }
		.social {
			display: flex ;
			flex-direction: row ;
			justify-content: center; 
			width: 100% ;
			img {
				width: 40px ;
				margin: 15px ;
            }
        }
        div.lgftr img{
            width: 20%;
			height: 30%;
            position: absolute;
            bottom: 0;
            // opacity: 0.5;
        }
	  
    }
    h3{ 
        font-family: Rockwell ;
        font-weight: bold ;
        font-size: 20px ;
        text-align: left ;
        color: #fca311 ;
        width: 200px ;
        padding-bottom: 10px ;
        border-bottom: 4px solid #ffe9c6; 
        margin-bottom: 20px ;
     }
 
}
