
*{
    outline: none !important;
}
.boder {
    display: flex;
    .filter {
        @include flexCenter(column);
        margin: 30px 5px;
        width: 20%;
        height: 100%;
        input {
            border: none;
            &::placeholder {
                text-align: center;
            }
        }
        .btnnone {
            display: none;
        }
        label {
            i {
                color: $orangeWeb;
            }
        }
        // show filter 
        .showfilter {
            width: 80%;
            border: 1px solid $platinum;
            div {
                margin: 10px;
                border: 1px solid $black;
                border-radius: 20px;
                span {
                    margin-left: 5px;
                }
            }
        }
        div {
            width: 80%;
            border: 1px solid $platinum;
        }
    }
    main {
        margin: 30px 5px;
        width: 80%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        section {
            margin-bottom: 30px;
            text-align: center;
            div {
                img {
                    width: 85%;
                }
            }
        }
    }
}