%sharedinp{
    height: 30px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #707070;
}

footer {
	background: #14213d; 
	border: 1px solid #707070; 
	display: flex ;
	flex-direction: row ;
	padding-top: 10px ;
	position: relative ;
	color: #fca311 ;
	flex-wrap: wrap-reverse;
	form {
		&.contact {
			position: relative ;
			display: flex ;
			flex-direction: column ;
			align-content: space-around; 
			width: 30% ;
			height: 100% ;
			margin-top: 0 ;
			padding: 5px 10px ;
			// margin-left: 200px ;
			margin-bottom: 20px ;
			label {
				font-family: Rockwell ;
				font-weight: bold ;
				font-size: 15px ;
				text-align: left ;
				color: #e6e6e6; 
            }
			.sub {
				text-align: center ;
				background-color: #fca311; 
				color: white; 
            }
        }
        input{@extend %sharedinp;}
        button{@extend %sharedinp;}
    }
	.follow {
		padding: 2px ;
		margin: 3px ;
		margin-left: 20px ;
		width: 50% ;
		height: 100%; 
		p {
			font-family: Rockwell ;
			font-weight: bold ;
			text-align: left ;
			color: #9c9c9c ;
			font-size: 20px ;
        }
		.social {
			display: flex ;
			flex-direction: row ;
			justify-content: center; 
			width: 100% ;
			img {
				width: 40px ;
				margin: 15px ;
            }
        }
        div.lgftr img{
            width: 20%;
			height: 30%;
            position: absolute;
            bottom: 0;
            // opacity: 0.5;
        }
	  
    }
    h3{ 
        font-family: Rockwell ;
        font-weight: bold ;
        font-size: 20px ;
        text-align: left ;
        color: #fca311 ;
        width: 30% ;
        padding-bottom: 10px ;
        border-bottom: 4px solid #ffe9c6; 
        margin-bottom: 20px ;
     }
 
}
.cp{
	background-color: #e6e6e6;
	text-align: center;
	font-size: 3vw;
}