/* NavBar Start */
header {
	display: flex ;
	flex-direction: row ;
	align-content: center; 
	background: #fff ;
	padding: 20px ;
	box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.16) ;
  
	padding-bottom: 0 ;
	font-family: "Javanese Text";
	.logo {
		margin-top: 0.5% ;
		width: 240px ;
		height: 60px ;
    }
    
    .navcont {
      position: relative ;
      margin-left: 10% ;
      margin-top: 4% ;
      width: 60% ;
      }
      a {
        color: #000 ;
        text-decoration: none ;
        padding-right: 10% ;
        font-size: 20px ;
          }
      
    .login {
      display: flex ;
      flex-direction: row ;
      button {
        width: 110px ;
        height: 49px ;
        border-radius: 12px ;
        background: #fff ;
        margin: 2% ;
        border: 1px solid #fca311 ;
        box-shadow: 0px 3px 40px rgba(114, 114, 114, 0.16) ;
        font-weight: bold ;
        font-size: 20px ;
        &.in {
          color: #fca311; 
          background-color: white; }
        &.up {
          background-color: #fca311 ;
          color: white; 
              }
          }
      }
  
    .navmenu {
      display: none;
      border: 1px solid black;
      padding: 2px
    }
    #check {
      display: none;
    }
    #navhide {
      display: none;
    }
}


@media only screen and (max-width: 1000px) {
  header {
    padding-bottom: 20px;
    display: grid;
    grid-template-areas: 
      'logo . . . navmenu'
      'navhide navhide navhide navhide navhide'
      'navhide navhide navhide navhide navhide';
    .navhide {
      display: none;
    }
    #navhide {
      grid-area: navhide;
      .navcont {
        grid-area: navcont;
        margin-left: 60px;
        // @include flexCenter();
      }
      .login {
        grid-area: login;
        // @include flexCenter();
      }
      grid-template-areas: 
          'login login login login login'
          'navcont navcont navcont navcont navcont';
    }
    .logo {
      width: 140px;
      height: auto;
      grid-area: logo;
    }
    .navmenu {
      display: block;
      grid-area: navmenu;
      text-align: center;
    }
  }
}
/* NavBar End */