* {
  margin: 0;
  padding: 0;
}

*:focus {
  border-bottom: 1px solid #474646;
  outline: none !important;
}

footer form.contact input, footer form.contact button {
  height: 30px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #707070;
}

body {
  background: #fca311;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.16);
  padding-bottom: 0;
  font-family: "Javanese Text";
}

header .logo {
  margin-top: 0.5%;
  width: 240px;
  height: 60px;
}

header .navcont {
  position: relative;
  margin-left: 10%;
  margin-top: 4%;
  width: 60%;
}

header a {
  color: #000;
  text-decoration: none;
  padding-right: 10%;
  font-size: 20px;
}

header .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .login button {
  width: 110px;
  height: 49px;
  border-radius: 12px;
  background: #fff;
  margin: 2%;
  border: 1px solid #fca311;
  -webkit-box-shadow: 0px 3px 40px rgba(114, 114, 114, 0.16);
          box-shadow: 0px 3px 40px rgba(114, 114, 114, 0.16);
  font-weight: bold;
  font-size: 20px;
}

header .login button.in {
  color: #fca311;
  background-color: white;
}

header .login button.up {
  background-color: #fca311;
  color: white;
}

h2 {
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 100;
  font-size: 30px;
  margin-top: 80px;
  text-shadow: 3px 2px  #fca311;
  margin-bottom: -58px;
}

.Add, .Addart {
  background-color: white;
  width: 60%;
  -webkit-box-shadow: 0px 3px 40px rgba(114, 114, 114, 0.16);
          box-shadow: 0px 3px 40px rgba(114, 114, 114, 0.16);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 100px;
  -webkit-transform: translate(30%, 10%);
          transform: translate(30%, 10%);
  z-index: 1;
}

.Add #addpc, .Addart #addpc {
  width: 25%;
  height: 250px;
  margin: 10%;
}

.Add form, .Addart form {
  width: 70%;
  margin-top: 10%;
  margin-right: 5%;
}

.Add form div input, .Add form div select, .Addart form div input, .Addart form div select {
  border: 1px solid white;
  border-bottom: 1px solid #474646;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  color: #fca311;
  font-weight: bold;
}

.Add form div:focus, .Addart form div:focus {
  border-bottom: 1px solid #474646;
  outline: none !important;
}

.Add form div.inp input::-webkit-input-placeholder, .Addart form div.inp input::-webkit-input-placeholder {
  color: #fca311;
  font-weight: bold;
}

.Add form div.inp input:-ms-input-placeholder, .Addart form div.inp input:-ms-input-placeholder {
  color: #fca311;
  font-weight: bold;
}

.Add form div.inp input::-ms-input-placeholder, .Addart form div.inp input::-ms-input-placeholder {
  color: #fca311;
  font-weight: bold;
}

.Add form div.inp input::placeholder, .Addart form div.inp input::placeholder {
  color: #fca311;
  font-weight: bold;
}

.Add form div.btn button, .Addart form div.btn button {
  border-radius: 50%;
  background-color: #fca311;
  color: white;
  border: none;
  font-size: 50px;
  float: right;
  width: 60px;
}

.Add form div.dropdown, .Addart form div.dropdown {
  position: relative;
}

.Add form div .selected, .Addart form div .selected {
  cursor: pointer;
}

.Add form div .options, .Addart form div .options {
  width: 80%;
  position: absolute;
  left: 0;
  display: none;
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 60px;
  overflow-y: scroll;
}

.Add form div #checkboxes label, .Addart form div #checkboxes label {
  display: block;
}

.Add form div input[type="checkbox"], .Addart form div input[type="checkbox"] {
  border: 1px solid white;
  border-bottom: 1px solid #474646;
  width: auto;
  height: auto;
  margin-bottom: 0px;
  color: #fca311;
  font-weight: bold;
}

table {
  background-color: white;
  width: 80%;
  margin: 100px;
  padding: 15px;
  -webkit-box-shadow: 0px 3px 40px rgba(114, 114, 114, 0.16);
          box-shadow: 0px 3px 40px rgba(114, 114, 114, 0.16);
}

table tr {
  padding: 40px;
}

table tr td {
  cursor: pointer;
}

table tr td label {
  border: 1px solid black;
  font-weight: bold;
  padding: 0 5px;
  margin-bottom: 100px;
}

table tr td:last-child img {
  margin-right: 10px;
  height: 30px;
}

table tr td .op {
  color: #707070;
}

table tr td .op:hover {
  color: #fca311;
  font-size: 20px;
}

table tr:hover label {
  color: #fca311;
  cursor: pointer;
  border: none;
  font-size: 17px;
}

table tr:hover i {
  color: black;
  font-size: 20px;
}

table img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  height: 60px;
  width: 70px;
  border-radius: 71px;
}

table td {
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

th {
  color: #fca311;
}

table tr td:last-child, table tr td:nth-child(5) {
  border: none;
}

footer {
  background: #14213d;
  border: 1px solid #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 10px;
  position: relative;
  color: #fca311;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

footer form.contact {
  position: relative;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 500px;
  height: 100%;
  margin-top: 0;
  padding: 5px 10px;
  margin-bottom: 20px;
}

footer form.contact div {
  margin-bottom: 14px;
}

footer form.contact label {
  font-family: Rockwell;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  color: #e6e6e6;
}

footer form.contact .sub {
  text-align: center;
  background-color: #fca311;
  color: white;
}

footer form.contact input {
  width: 100%;
}

footer .follow {
  padding: 2px;
  margin: 3px;
  margin-left: 20px;
  width: 500px;
  height: 100%;
}

footer .follow p {
  font-family: Rockwell;
  font-weight: bold;
  text-align: left;
  color: #9c9c9c;
  font-size: 20px;
}

footer .follow .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

footer .follow .social img {
  width: 40px;
  margin: 15px;
}

footer .follow div.lgftr img {
  width: 20%;
  height: 30%;
  position: absolute;
  bottom: 0;
}

footer h3 {
  font-family: Rockwell;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  color: #fca311;
  width: 30%;
  padding-bottom: 10px;
  border-bottom: 4px solid #ffe9c6;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */