* {
  margin: 0;
  padding: 0;
  outline: 0 !important;
}

.contintro, .BestS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.contintro .imagecn, .contintro .bscnt, .BestS .imagecn, .BestS .bscnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

.contintro .imagecn .img1, .contintro .imagecn .img2, .contintro .bscnt .img1, .contintro .bscnt .img2, .BestS .imagecn .img1, .BestS .imagecn .img2, .BestS .bscnt .img1, .BestS .bscnt .img2 {
  float: left;
  width: 40%;
  height: 300px;
  margin: 20px;
  border-radius: 15px;
  border: 3px #FCA311 solid;
}

.contintro .img, .contintro .bscnt, .BestS .img, .BestS .bscnt {
  width: 40%;
  overflow: hidden;
}

.contintro .intro, .BestS .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 40%;
  overflow: hidden;
}

.contintro h1, .BestS h1 {
  font-size: 4vw;
  font-family: Rockwell;
}

.contintro .web, .BestS .web {
  display: block;
}

.contintro .mobile, .BestS .mobile {
  margin-top: 3vw;
  display: none;
  font-size: 7vw;
}

.contintro p, .BestS p {
  font-size: 2vw;
  font-family: Rockwell;
  color: #8D8E93;
}

.contintro button, .BestS button {
  margin: 15px;
  font-family: Rockwell;
  font-size: 2vw;
  width: 50%;
  height: 5vw;
  border-radius: 30px;
  background-color: #FCA311;
  border: none;
  color: aliceblue;
  -webkit-transition: width  0.5s ease;
  transition: width  0.5s ease;
  font-weight: normal;
  position: relative;
  left: 30%;
}

.contintro button:hover, .BestS button:hover {
  background-color: #ffffff;
  color: #FCA311;
  border: 3px #FCA311 solid;
  width: 55%;
}

.BestS {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #E5E5E5;
}

.nws {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #F5E8D1;
  -webkit-box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.16);
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.nws .imgnews {
  width: 50%;
}

.nws .imgnews .img3 {
  width: 60%;
  height: 300px;
  margin: 20px;
  border-radius: 15px;
  border: 3px #FCA311 solid;
}

.nws .dnews {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.titlens {
  font-size: 4vw;
  color: #3D405B;
  margin-top: 100px;
  margin-bottom: -30px;
  z-index: 100;
  text-align: center;
  text-shadow: 3px 2px #D38812;
}

.titlectg {
  font-size: 4vw;
  margin-top: 10px;
}

/* categories*/
.catcont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.catcont .titlectg {
  text-align: center;
  color: #000;
}

.ctg {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.ctg button {
  margin-top: 20px;
  font-family: Rockwell;
  font-size: 2vw;
  width: 20%;
  height: 80px;
  border-radius: 10px;
  border: none;
  color: aliceblue;
  margin-left: 35px;
  font-weight: normal;
}

@media only screen and (max-width: 600px) {
  .ctg button {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 580px) {
  .ctg button {
    width: 40%;
    height: 60px;
    font-size: 3vw;
  }
}

@media only screen and (max-width: 440px) {
  .ctg button {
    width: 35%;
    height: 50px;
    font-size: 4vw;
  }
}

@media only screen and (max-width: 321px) {
  .ctg button {
    width: 35%;
    height: 50px;
    font-size: 4vw;
  }
}

@media only screen and (max-width: 580px) {
  .ctg button {
    margin-left: 0px;
  }
}

.ctg button.butctg1 {
  background-color: #F3722C;
}

.ctg button.butctg2 {
  background-color: #F8961E;
}

.ctg button.butctg3 {
  background-color: #F9844A;
}

.ctg button.butctg4 {
  background-color: #F9C74F;
}

.ctg button.butctg5 {
  background-color: #90BE6D;
}

.ctg button.butctg6 {
  background-color: #43AA8B;
}

.ctg button.butctg7 {
  background-color: #4D908E;
}

.ctg button.butctg8 {
  background-color: #277DA1;
}

.centre {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.centre .butctg9 {
  font-family: Rockwell;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2vw;
  width: 20%;
  height: 60px;
  border-radius: 30px;
  background-color: #FCA311;
  border: none;
  color: aliceblue;
  -webkit-transition: all  0.5s ease;
  transition: all  0.5s ease;
  font-weight: normal;
}

.centre .butctg9:hover {
  background-color: #ffffff;
  color: #FCA311;
  border: 3px #FCA311 solid;
  width: 240px;
  font-size: 27px;
}

@media only screen and (max-width: 800px) {
  .centre .butctg9 {
    width: 40%;
    height: 40px;
    font-size: 3vw;
  }
}

@media only screen and (max-width: 440px) {
  .centre .butctg9 {
    width: 40%;
    height: 30px;
    font-size: 4vw;
  }
  .centre .butctg9:hover {
    width: 170px;
    font-size: 17px;
  }
}

@media only screen and (max-width: 800px) {
  .contintro, .BestS {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }
  .contintro .imagecn, .BestS .imagecn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: hidden;
  }
  .contintro .imagecn .img1, .contintro .imagecn .img2, .BestS .imagecn .img1, .BestS .imagecn .img2 {
    float: left;
    width: 40%;
    height: 300px;
    margin: 20px;
    border-radius: 15px;
    border: 3px #FCA311 solid;
  }
  .contintro h1, .BestS h1 {
    font-size: 5vw;
    font-family: Rockwell;
  }
  .contintro .web, .BestS .web {
    display: none;
  }
  .contintro .mobile, .BestS .mobile {
    display: block;
  }
  .contintro p, .BestS p {
    font-size: 3vw;
    font-family: Rockwell;
    color: #8D8E93;
  }
  .contintro button, .BestS button {
    font-size: 3vw;
    width: 40vw;
    height: 5vw;
    position: relative;
    left: 25%;
  }
  .contintro button:hover, .BestS button:hover {
    width: 44vw;
  }
  .contintro .img, .contintro .intro, .contintro .bscnt, .BestS .img, .BestS .intro, .BestS .bscnt {
    width: 100%;
  }
  .BestS {
    margin: 0;
    margin-top: 10px;
    padding: 5%;
  }
  .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nws {
    margin: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nws .imgnews {
    width: 100%;
  }
  .nws .imgnews .img3 {
    width: 50%;
    height: 90%;
  }
  .nws .dnews {
    width: 100%;
    margin-top: 1%;
  }
  .titlens, .titlectg, .catcont.titlectg {
    font-size: 7vw;
  }
  .titlens {
    margin-bottom: -50px;
  }
}

@media only screen and (max-width: 370px) {
  .contintro .imagecn .img1, .contintro .imagecn .img2, .BestS .imagecn .img1, .BestS .imagecn .img2 {
    margin: 15px;
    height: 245px;
  }
}
/*# sourceMappingURL=stylin.css.map */