/* NavBar Start */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.16);
  padding-bottom: 0;
  font-family: "Javanese Text";
}

header .logo {
  margin-top: 0.5%;
  width: 240px;
  height: 60px;
}

header .navcont {
  position: relative;
  margin-left: 10%;
  margin-top: 4%;
  width: 60%;
}

header a {
  color: #000;
  text-decoration: none;
  padding-right: 7%;
  font-size: 20px;
}

header .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .login button {
  width: 110px;
  height: 49px;
  border-radius: 12px;
  background: #fff;
  margin: 2%;
  border: 1px solid #fca311;
  -webkit-box-shadow: 0px 3px 40px rgba(114, 114, 114, 0.16);
          box-shadow: 0px 3px 40px rgba(114, 114, 114, 0.16);
  font-weight: bold;
  font-size: 20px;
}

header .login button.in {
  color: #fca311;
  background-color: white;
}

header .login button.up {
  background-color: #fca311;
  color: white;
}

header .navmenu {
  display: none;
  border: 1px solid black;
  padding: 2px;
}

header #check {
  display: none;
}

header #navhide {
  display: none;
}

@media only screen and (max-width: 1000px) {
  header {
    padding-bottom: 20px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'logo . . . navmenu' 'navhide navhide navhide navhide navhide' 'navhide navhide navhide navhide navhide';
  }
  header .navhide {
    display: none;
  }
  header #navhide {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: navhide;
        grid-template-areas: 'login login login login login' 'navcont navcont navcont navcont navcont';
  }
  header #navhide .navcont {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: navcont;
    margin-left: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header #navhide .login {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: login;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .logo {
    width: 140px;
    height: auto;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  header .navmenu {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: navmenu;
    text-align: center;
  }
}

/* NavBar End */
* {
  padding: 0;
  margin: 0;
}

/* Home Start */
.newbooks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.newbooks .dnb {
  width: 50vw;
}

.newbooks .dnb h1 {
  font-size: 25px;
  font-family: Rockwell;
}

.newbooks .dnb P {
  font-family: Rockwell;
  color: #8D8E93;
}

.newbooks .dnb .btn {
  width: 150px;
  height: 30px;
  border-radius: 15px;
  background-color: #FCA311;
  border: none;
  color: aliceblue;
}

.newbooks .imgnb {
  width: 50vw;
}

.newbooks .imgnb .img1 {
  width: 240px;
  height: 365px;
  margin: 20px;
  border-radius: 15px;
  border: 3px #FCA311 solid;
}

.bestsell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #E5E5E5;
}

.bestsell .imgbs {
  width: 50vw;
}

.bestsell .imgbs .img2 {
  width: 240px;
  height: 365px;
  margin: 20px;
  border-radius: 15px;
  border: 3px #FCA311 solid;
}

.bestsell .dbs {
  width: 50vw;
}

.bestsell .dbs h1 {
  font-size: 25px;
  font-family: Rockwell;
}

.bestsell .dbs P {
  font-family: Rockwell;
  color: #8D8E93;
}

.bestsell .dbs .btn2 {
  width: 150px;
  height: 30px;
  border-radius: 15px;
  background-color: #FCA311;
  border: none;
  color: aliceblue;
}

/* Home End */
/* Gallery Start */
* {
  outline: none !important;
}

.boder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boder .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 5px;
  width: 20%;
  height: 100%;
}

.boder .filter input {
  border: none;
}

.boder .filter input::-webkit-input-placeholder {
  text-align: center;
}

.boder .filter input:-ms-input-placeholder {
  text-align: center;
}

.boder .filter input::-ms-input-placeholder {
  text-align: center;
}

.boder .filter input::placeholder {
  text-align: center;
}

.boder .filter .btnnone {
  display: none;
}

.boder .filter label i {
  color: #FCA311;
  float: right;
}

.boder .filter .showfilter {
  width: 80%;
  border: none;
  text-align: center;
}

.boder .filter .showfilter div {
  margin: 10px;
  border: 1px solid #000000;
  border-radius: 20px;
}

.boder .filter .showfilter div span {
  margin-left: 5px;
}

.boder .filter div {
  width: 80%;
  border: 1px solid #E5E5E5;
}

.boder main {
  margin: 30px 5px;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
}

.boder main section {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  text-align: center;
  width: 80%;
}

.boder main section div img {
  width: 100%;
  height: 300px;
}

.boder main section select {
  width: 80%;
}

@media only screen and (max-width: 1000px) {
  .boder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .boder .filter {
    width: 100%;
  }
  .boder .filter div {
    width: 80%;
  }
  .boder main {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .boder main section {
    width: 90%;
  }
  .boder main section div img {
    width: 100%;
    height: 200px;
  }
}

/* Gallery End */
/* CRUD Start */
/* CRUD End */
/* Footer Start */
/* Footer End */
/*# sourceMappingURL=styles.css.map */